@import "./base-defined.less";

.marker{
    display:inline-block;
    background: @color-gray2;
    padding:2px 5px;
    text-align:center;
    color:#fff;
}

.marker-warning{
    background: @color-orange;
}

.marker-success{
    background: @color-green;
}

.link{
    color:@color-blue;
    font-weight:bold;
    cursor:pointer;
}

.btn{
    height: 30px;
    line-height: 30px;
    font-size:14px;
    background:@color-gray2;
    color:#fff;
    border:none;
    cursor:pointer;
}

.btn-primary{
    background:@color-blue;

    &:hover,&.active{
        background:@color-blue2;
    }
}

